[Desktop Entry]
Categories=Qt;Application;Office;
Comment=
Comment[it]=
Encoding=UTF-8
Exec=yagf
GenericName=
Icon=/usr/share/icons/hicolor/96x96/apps/yagf.png
MimeType=application/x-iso
Name=YAGF
GenericName=Graphical frontend for Cuneiform
GenericName[ru]=Графическая оболочка для Cuneiform
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
